body {
    margin: 0;
    padding: 0;
    font-family: 'oswald', sans-serif;
}

nav ul {
    background-color: lightgray;
    list-style-type: none;
    text-align: center;
    width: 100%;
    padding:10px;
}

nav li {
    display: inline-block;
}

nav a:hover {
    color: red;
}

h1 {
    color: red;
    text-align: center;
}

p {
    color: blue;
    text-align: center;
}